.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* Circle */
    animation: spin 2s linear infinite;
    object-fit: contain;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}