name: React CI/CD Pipeline (FTP Deployment)

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    name: Build & Deploy React App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npm test -- --passWithNoTests --watchAll=false

      - name: Build React App
        run: npm run build
        env:
          CI: false

      - name: Deploy to Jio Hosting via SFTP
        uses: cross-the-world/scp-pipeline@master
        with:
          host: ${{ secrets.FTP_SERVER }}
          user: ${{ secrets.FTP_USERNAME }}
          pass: ${{ secrets.FTP_PASSWORD }}
          port: 22
          local: "build/*"
          remote: "public_html/anjalipisecounsel.in/"
